main {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin: 0 auto;
  padding-top: 20px;
  /*top: 50%;*/
  /*left: 50%;*/
  /*translate: -50% -50%;*/
  /*position: absolute;*/
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 16px !important;
  padding: 16px !important;
  border-radius: 16px !important; 
  color: aliceblue !important;
  margin-top: 15px !important;
}

h3 {
  text-align: center;
  margin: 1px !important;
}

.button-ConnectMetamask {
  background-color:darkred;
}

.payWithMetamask {
  background-color: #9ca3af;
  padding: 10px;
  border-radius: 10px;
}

.payWithEthers {
  background-color: #169429;
  padding: 10px;
  border-radius: 10px;
}

.input-box {
  color: white;
  width: 20rem;
  margin-bottom: 2px;
  border-radius: 6px;
}

.input-box::placeholder {
  color: rgb(150, 150, 150); /* Change this to your desired placeholder color */
}

.hero-top {
  display: flex;
  align-items: center;
  gap: 50px;
}

.description {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  width: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
}

.card {
  list-style: none;
}

.card > a {
  color: rgb(197, 21, 21);
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 1.5rem;
  border: 0.85px solid #313538;
  gap: 15px;
  padding: 2rem 1.25rem;
}

.card-top-row {
  gap: 15px;
  display: flex;
  align-items: start;
}

.card h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
  color: white;
}

.card p {
  text-align: start;
  font-size: 16px;
  line-height: 1.5rem;
  color: #9ca3af;
  margin: 0;
}
